# Ignore all .DS_Store files anywhere in the repository
**/.DS_Store
.DS_Store
infrastructure/controllers/argocd/charts/*
/monitoring/prometheus-stack/charts
/monitoring/loki-stack/charts
/monitoring/minio/charts
/monitoring/promtail/charts
/monitoring/tempo/charts
/monitoring/thanos/charts

# Added by Task Master AI
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
# Task files
# tasks.json
# tasks/ 