apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-prometheus-stack

resources:
  - namespace.yaml
  - http-route-grafana.yaml
  - http-route-prometheus.yaml
  - http-route-alertmanager.yaml
  - custom-alerts.yaml
  - custom-servicemonitors.yaml
  - longhorn-alerts.yaml
  - network-policy.yaml
  - dashboards/k3s-cluster-overview-configmap.yaml
  - dashboards/dashboard-16450-configmap.yaml

# Strategic merge patches to handle resource conflicts
patchesStrategicMerge:
  - alertmanager-config.yaml

helmCharts:
  - name: kube-prometheus-stack
    releaseName: prometheus
    repo: https://prometheus-community.github.io/helm-charts
    version: 82.4.3
    namespace: kube-prometheus-stack
    valuesFile: values.yaml
    includeCRDs: true

commonAnnotations:
  argocd.argoproj.io/sync-wave: "1"
  argocd.argoproj.io/sync-options: "RespectIgnoreDifferences=true"
